lib/**/*.rb                       \
mod/*/format/*.rb                 \
mod/*/chunk/*.rb                  \
mod/*/lib/**/*.rb                 \
mod/*/set*/**/*.rb -            \
--markup markdown \
**/*.rdoc                         \
GPL     \
LICENSE \
VERSION
